{% extends 'store/layouts/main.html' %}
{% block content %}

<div class="py-3 bg-primary">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}"> Home / </a>
        <a class="text-white" href="{% url 'checkout' %}"> Checkout </a>
    </div>
</div>

<div class="container mt-3">
    <form action="{% url 'placeorder' %}" method="POST">
        {% csrf_token %}



    <div class="row">
        <!-- Form Section (Left side) -->
        <div class="col-md-7">
            <div class="card shadow ">
                <div class="card-body">
                    <h6>Basic Details</h6>
                    <hr>
                    <div class="row checkoutform">
                        <div class="col-md-6">
                            <label>First Name </label>
                            <input type="text" required name="firstname" class="form-control" placeholder="Enter first name" value="{{ request.user.first_name }}">
                        </div>
                        <div class="col-md-6">
                            <label>Last Name </label>
                            <input type="text" required name="lastname" class="form-control" placeholder="Enter Last name" value="{{ request.user.last_name }}">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label>Email </label>
                            <input type="text"  required name="email" class="form-control" placeholder="Enter email" value="{{ request.user.email }}">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label>Phone </label>
                            <input type="text" required name="Phone" class="form-control" placeholder="Enter phone" value="{{ userprofile.Phone }}">
                        </div>
                        <div class="col-md-12 mt-2">
                            <label>Address </label>
                            <!-- Fix applied here -->
                            <textarea required class="form-control" name="Address" placeholder="Enter Address">{{ userprofile.Address }}</textarea>
                        </div>
                        <div class="col-md-6 mt-2">
                            <label>City </label>
                            <input type="text" required name="City" class="form-control" placeholder="Enter city" value="{{ userprofile.City }}">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label>State </label>
                            <input type="text" required name="State" class="form-control" placeholder="Enter state" value="{{ userprofile.State }}">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label>Country </label>
                            <input type="text" required name="Country" class="form-control" placeholder="Enter country" value="{{ userprofile.Country }}">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label>PinCode </label>
                            <input type="text" required name="PinCode" class="form-control" placeholder="Enter pin code" value="{{ userprofile.PinCode }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Order Summary Section (Right side) -->
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-body">
                    <h6>Order Summary</h6>
                    <hr>
                    {% if cartitem %}
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cartitem %}
                                    <tr>
                                        <td>
                                            <img src="{{ item.product.product_image.url }}" height="50px" width="50px" class="me-2">
                                        </td>
                                        <td>{{ item.product.name }}</td>
                                        <td>{{ item.product_qty }}</td>
                                        <td>{{ item.product.selling_price | stringformat:'d' }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    <h6 class="fw-bold"> Grand Total
                        <span class="float-end">Rs {{ total_price | stringformat:'d' }}</span>
                    </h6>
                    <input type="hidden" value="COD" name="payment_mode">
                    <div class="mt-3">
                            <button type="submit" class="btn btn-primary w-100"> COD | Place Order</button>
                    </div>

                    <div class="mt-3">
                            <button type="submit" class="btn btn-secondary paywithrazorpay w-100"> Pay with Razor Pay</button>
                    </div>




                    {% else %}
                        <h4>Your cart is empty</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block script %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
{% endblock script %}
